extends layout

block content
	include header.jade
	div.container.w1200.clearfix
		.main.fl
			div(infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1')
				ul.article-list
					each item in command.docs
						li
							a.img-box.prz.fl
								img.best-fill(data-src='#{item.articleCover}')
							.list-content
								h5
									a.divide(href='/list?name=#{item.columnName}&language=#{language}')
										| #{item.columnName}
										i
									a.atitle(href='/article?id=#{item._id}') #{item.title}
								.meta
									span.author.iconfont.icon-author
										| #{item.author}
									span.time.iconfont.icon-time
										| #{moment(item.published).format("YYYY-MM-DD")}
				div(ng-show ='reddit.busy') Loading data...
				button(click='click()')
		include sideBar.jade
	script.
		seajs.use(['init'],function(){
			function click() {
				alert('test');
			}
		});
		function click() {
			alert('test');
		}