extends layout

block content
	include header.jade
	.container.w1200.clearfix
		.main.fl
			h3.page-title #{columnName}
			ul.article-list
				each item in list.docs
					li
						a.img-box.prz.fl(href='/article?id=#{item._id}')
							img.best-fill(data-src='#{item.articleCover}')
						.list-content
							h5
								a(href='/article?id=#{item._id}') #{item.title}
							.meta
								span.time.iconfont.icon-time
									| #{moment(item.published).format("YYYY-MM-DD")}
								span.author.iconfont.icon-author
									| #{item.author}
								span.count.iconfont.icon-read
									| 阅读(#{item.clickVolume})
								a.iconfont.icon-comment.fr(href='/article?id=#{item._id}')
									| 评论(#{item.comments.length})
							.instro !{item.articleBrief}
			.page.cleargap
				if list.page-1 >=1
					a.ibox.prev(href='/list?name=#{columnName}&page=#{list.page-1}&language=#{language}') 上一页
				if list.page+1 <= list.pages
					a.ibox.next(href='/list?name=#{columnName}&page=#{list.page+1}&language=#{language}') 下一页
				a.ibox.total(href='javascript:;') 共#{list.pages}页 当前第#{list.page}页
		include sideBar.jade
	script.
		seajs.use(['init'],function(){
			
			if(device.desktop()){

				var tagCloud = $('#tag-cloud');

				tagCloud.scrollToFixed({marginTop:70});

			}
			
		});